.well.card{
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  margin-top: -185px;
}
.well.card input.form-control,
.well.card button.btn,
.well.card a.btn{
    margin: 10px 0;
}
.well.card .btn{
    max-width: 49%;
    display: inline-block;
}
.container{

}